<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css"> -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styleLogin.css' )}}">
    <link rel="shortcut icon" href="{{ url_for('static', filename='img/favicon.ico' )}}" type="image/x-icon">
    <!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/flexboxgrid/6.3.1/flexboxgrid.min.css" type="text/css" > -->

    <title>Principal</title>
</head>

<body>
    <div class="div col s12 m12 l12">
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                {% for message in messages %}
                    {{ message }}
                {% endfor %}
            {% endif %}
        {% endwith %}
    </div>
    <div class="login">
        <div class="login_content">
            <div class="login_img">
                <img src="../static/img/login/register.svg" alt="Imagen login">
            </div>
            <div class="login_forms">
                <form action="{{ url_for('login') }}" method="POST" class="login_register" id="login-in" autocomplete="off">
                    <h1 class="login_title">Iniciar Sesión</h1>

                    <div class="login_box">
                        <i class='bx bx-user login_icon'></i>
                        <input type="text" class="login_input" placeholder="Usuario" name="identificacion">
                    </div>

                    <div class="login_box">
                        <i class='bx bx-lock-alt login_icon'></i>
                        <input type="password" class="login_input" placeholder="Contraseña" name="password">
                    </div>

                    <a href="#" class="login_forgot">Forgot password?</a>
                    <button type="submit" class="login_button">Ingresar</button>

                    <div>
                        <span class="login_account">Don´t have an Account?</span>
                        <span class="login_signin" id="sign-up">Sign Up</span>
                    </div>
                </form>

                <form action="login" class="login_create none" id="login-up" autocomplete="off">
                    <h1 class="login_title">Crear Cuenta</h1>

                    <div class="login_box">
                        <i class='bx bx-at login_icon'></i>
                        <input type="text" class="login_input" placeholder="Email">
                    </div>

                    <div class="login_box">
                        <i class='bx bx-user login_icon'></i>
                        <input type="text" class="login_input" placeholder="Usuario">
                    </div>

                    <div class="login_box">
                        <i class='bx bx-lock-alt login_icon'></i>
                        <input type="password" class="login_input" placeholder="Contraseña">
                    </div>

                    <a href="#" class="login_forgot">Forgot password?</a>
                    <button href="login" class="login_button">Registrarme</button>

                    <div>
                        <span class="login_account">Alredy have an Account?</span>
                        <span class="login_signup" id="sign-in">Sign In</span>
                    </div>

                    <div class="login_social">
                        <img src="../static/img/login/logoFooterBlue.png" alt="Logo App">
                        <!-- <a href="" class="login_social-icon">
                            <i class='bx bxl-facebook login_icon'></i></a> -->
                    </div>
                </form>
            </div>
        </div>
    </div>

    <!-- <i class="material-icons tiny">mail</i> -->
    
    <script src="{{ url_for('static', filename='js/main.js' )}}"></script>
</body>
</html>